.app {
  height: 100vh;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

/* Responsive styles */
/* @media (max-width: 768px) {
  .app {
    padding: 1.2rem;
  }
} */

@media (max-width: 480px) {
  .app {
    flex-direction: column;
  }
}
