.sidebar {
  flex-basis: 50%;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.copyright {
  font-size: .5rem;
  color: var(--color-light--1);
}

/* Responsive styles */
@media (max-width: 1024px) {
  .sidebar {
    flex-basis: 32rem;
    padding: 2rem 2.5rem 2.5rem 2.5rem;
  }
}

@media (max-width: 768px) {
  .sidebar {
    flex-basis: 50%;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    
  }
}

@media (max-width: 480px) {
  .sidebar {
    /* flex-basis: 100%; */
    min-height: 40rem;
    padding: 0.5rem;
    min-width: 0;
  }
}
